<!DOCTYPE html>
<html lang="en">

<head>
   <title>Inventory Management</title>
   <script>
      function openPopup(url) {
         // Define the features for the popup window
         var features = 'width=600,height=400,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes';

         // Open the popup window
         window.open(url, 'popupWindow', features);
      }
   </script>
</head>
<style type="text/css">
   table,
   tr,
   td,
   th {
      /* margin-left: 250px; */
      border: 1px solid;
   }
</style>

<body>
   <h1 style="text-align: center;">Inventory</h1>
   <hr />
   {%- for message in get_flashed_messages() %}
   {{ message }}
   {%- endfor %}
   <table>
      <thead>
         <tr>
            <th>Product ID</th>
            <th>Purchase Date </th>
            <th>Product Name </th>
            <th>Product Description </th>
            <th>Product Category </th>
            <th>Product Quantity </th>
            <th>SKU number </th>
            <th>Product Image </th>
            <th>Product Price </th>
            <th>Product Margin </th>
            <th>Manufacturer </th>
            <th>Seller </th>
            <th>Location </th>

         </tr>
      </thead>

      <tbody>
         {% for ProductInventory in ProductInventorys %}
         <tr>
            <td>{{ProductInventory.id}}</td>
            <td>{{ProductInventory.purchasedate}}</td>
            <td>{{ProductInventory.productname}}</td>
            <td>{{ProductInventory.productdescription}}</td>
            <td>{{ProductInventory.productcategory}}</td>
            <td>{{ProductInventory.productQuantity}}</td>
            <td>{{ProductInventory.skunumber}}</td>
            <td>{{ProductInventory.productimage}}</td>
            <td>{{ProductInventory.productprice}}</td>
            <td>{{ProductInventory.margin}}</td>
            <td>{{ProductInventory.manufacturer}}</td>
            <td>{{ProductInventory.seller}}</td>
            <td>{{ProductInventory.location}}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   <br>
   <button type="button" class="back" onclick="window.location.href='/';">Back</button>
</body>

</html>