<!doctype html>
<html>
<head>
   <title>Welcome to Product Page</title>
</head>

<body>
   {% if guest %}
   <h1 style="text-align: center;text-decoration: underline;">Welcome {{ guest }}</h1>
   {% endif %}
   <p style="font-weight: bold;text-decoration: underline;">Enter Product Details</p>
   <div style="padding:20px">
      <form action="{{request.path}}" method="POST">
         <label>Purchase Date <input type="date" name="purchasedate"></label>
         <label>Product Name <input type="text" name="productname"></label>
         <label>Product Description <input type="text" name="productdescription"></label>
         <label>Product Category <input type="text" name="productcategory"></label>
         <label>Product Quantity <input type="text" name="productQuantity"></label>
         <label>SKU number <input type="text" name="skunumber"></label>
         <label>Product Image <input type="text" name="productimage"></label>
         <label>Product Price <input type="text" name="productprice"></label>
         <label>Product Margin <input type="text" name="margin"></label>
         <label>Manufacturer <input type="text" name="manufacturer"></label>
         <label>Seller <input type="text" name="seller"></label>
         <label>Location <input type="text" name="location"></label>
         <br>
         <span style="padding-top: 10px;">
            <button type="submit" class="btn">Add Product</button>
         </span>
      </form>
   </div>
   <br>
   <p><a href="/logout">Logout</a></p>
</body>
</html>