<html>session_templatesession_template
<title>Record Manager</title>

<head>
   <script type="text/javascript" src="{{ url_for('static', filename = 'hello.js') }}"></script>
</head>

<body>
   <h1 style="text-align: center;text-size-adjust: 30px;color: blue;">Record Keeper</h1>
   <div id="header">
      <div class="topnav">
         <a class="active" href="/">Home</a>
         <a href="bookmaid">Book Maid</a>
         <a href="recordkeeping">Record Keeper</a>
         <a href="product">Product</a>
         <a href="inventory">Inventory</a>
         <a href="about">About us</a>
         <a href="{{ url_for('login') }}" class="btn">Login</a>
         <a href="{{ url_for('my_blueprint.register') }}" class="btn">Register</a>
         <a href="contactus">Contact us</a>
      </div>
   </div>
   <div style="padding: 20px;">
      <a href="{{url_for('my_blueprint2.curdoperator')}}">Curd Operation</a>
   </div>
   <div id="footerwrapper">
      <p style="text-align: center;">Made in India with love <br>By<br><span style="font-family:Georgia;">Jeetendra @2024</span></p>
   </div>
</body>

</html>