<!DOCTYPE html>
<html lang = "en">
   <head>
      <title>ContactUs Result</title>
      <script>
         function openPopup(url) {
             // Define the features for the popup window
             var features = 'width=600,height=400,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes';
         
             // Open the popup window
             window.open(url, 'popupWindow', features);
         }
         </script>
   </head>
   <style type="text/css">
      table,tr,td,th {
         /* margin-left: 250px; */
         border: 1px solid;
      }

   </style>
   <body> 
      <h1 style="text-align: center;">Contact Us Result</h1>     
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Mobile Number</th>
               <th>Email </th>
               <th>Query</th>
               <th>Creation Date</th>
               <th>Status</th>
               <th>Closing Date</th>
            </tr>
         </thead>

         <tbody>
            {% for contactquery in contactquerys %}
               <tr>
                  <td>{{ contactquery.id }}</td>
                  <td>{{ contactquery.name }}</td>
                  <td>{{ contactquery.mobilenumber }}</td>
                  <td>{{ contactquery.email }}</td>
                  <td>{{ contactquery.querytext }}</td>
                  <td>{{ contactquery.creationdate }}</td>
                  <td> <a href="#" onclick="openPopup('/maidsummary')">{{ contactquery.status }}</a></td>
                  <td>{{ contactquery.closingdate }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br>
      <button type="button" class="back" onclick="window.location.href='/contactus';">Back</button>
   </body>
</html>