<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>

         <tbody>
            {% for cont in contact %}
               <tr>
                  <td>{{ cont.name }}</td>
                  <td>{{ cont.mobilenumber }}</td>
                  <td>{{ cont.email }}</td>
                  <td>{{ cont.query }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>