<!DOCTYPE html>
<html lang = "en">
   <head>
      <title>Maid Summary Result</title>
   </head>
   <style type="text/css">
      table,tr,td,th {
         margin-left: 250px;
         border: 1px solid;
      }

   </style>
   <body> 
      <h1 style="text-align: center;"> Maid Result</h1>     
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      <br>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Booking Time</th>
               <th>Time Slot</th>
               <th>Category</th>
               <th>Customer Name</th>
               <th>House Number</th>
               <th>Address 1</th>
               <th>Address 2</th>
               <th>District</th>
               <th>State</th>
            </tr>
         </thead>

         <tbody>
            {% for maidBooking in maidBookings %}
               <tr>
                  <td>{{ maidBooking.id }}</td>
                  <td>{{ maidBooking.bookingdate }}</td>
                  <td>{{ maidBooking.timeslot }}</td>
                  <td>{{ maidBooking.category }}</td>
                  <td>{{ maidBooking.customername }}</td>
                  <td>{{ maidBooking.housenumber }}</td>
                  <td>{{ maidBooking.address1 }}</td>
                  <td>{{ maidBooking.address2 }}</td>
                  <td>{{ maidBooking.state }}</td>
                  <td>{{ maidBooking.district }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br>
      <button type="button" class="back" onclick="window.location.href='/contactus';">Back</button>
   </body>
</html>